
/* The navigation menu */
.navbar {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  font-family: "Merienda", cursive;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  }
  
  .navbar .margin {
  margin-right: 10px;
  }
  
  /* Navigation links */
  .navbar a {
  float: left;
  font-size: 24px;
  color: black;
  text-align: center;
  padding: 6px 6px;
  margin: 0px 5px;
  margin-bottom: 5px;
  text-decoration: none;
  font-family: 'Bona Nova', serif;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover {
    background-color:rgb(4, 12, 41);
  color: white;
  box-shadow: 2px 2px 2px white;
  transition: 0.25s;
  }
  
  .navbar .ima {
  margin-right: 50px;
  margin-left: 50px;
  }


.container {
  background-image: url("../Images/18.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 80vh;
  margin-top: 70px;
}
.container h1 {
  font-size: 50px;
  font-family: 'Bona Nova', serif;
  color: black;
  text-shadow: 2px 2px 4px white;
padding-top: 200px;
}

.container h2 {
  font-size: 40px;
  text-decoration: underline;
  color: black;
}
