<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/11biolinks.css" />

    <title>12bio.html</title>
  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="70" height="60" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/courses">Courses</a>
        <!-- <a href="/about">About</a> -->
        <a href="/contact">Contact</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <!-- Links Section  -->
    <!-- WEBLINKS  -->
    <section class="links">
    <h1>11th BIOLOGY</h1>
      <section class="weblinks">
        <h1>WEBLINKS</h1>
        <details>
          <summary>Diversity of Living Organisms </summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://ncert.nic.in/ncerts/l/kebo101.pdf"
                  >Imp notes (NCERT)</a
                >
              </li>
          </div>
        </details>

        <details>
          <summary> Structural Organization in Plants and Animals </summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://ncert.nic.in/textbook/pdf/kebo107.pdf"
                  >Imp notes (NCERT)</a
                >
              </li>
            </ul> 
          </div>
        </details>

        <details>
          <summary>
            Cell: Structure and Function
          </summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://mycbseguide.com/blog/cell-structure-functions-class-11-notes-biology/"
                  >Notes By mycbseguide </a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Plant Physiology</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://learn.careers360.com/biology/plant-physiology-chapter/"
                >
                  Notes By Careers360</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Human Physiology</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://mycbseguide.com/blog/ncert-solutions-for-class-11-biology-human-physiology/"
                  >Notes by mycbseguide</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>

      <!-- YOUTUBELINKS -->
      <section class="youtubelinks">
        <h1>YOUTUBE LINKS</h1>
        <details>
          <summary>Diversity of Living Organisms </summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://ncert.nic.in/ncerts/l/kebo101.pdf"
                  >Imp notes (NCERT)</a
                >
              </li>
          </div>
        </details>

        <details>
          <summary> Structural Organization in Plants and Animals </summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.youtube.com/watch?v=Q2COQ9B6Vl4"
                  >Full Chapter Explanation By Edumantra</a
                >
              </li>
            </ul> 
          </div>
        </details>

        <details>
          <summary>
            Cell: Structure and Function
          </summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.youtube.com/watch?v=WI65FBae5ic"
                  > Full Chapter Explanation By Vedantuu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Plant Physiology</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.youtube.com/watch?v=UP-TQBWCGss"
                >
                  Full Chapter Explanation By Vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Human Physiology</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.youtube.com/watch?v=HIptF2RyilY"
                  >Full Chapter Explanation By Vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>
    </section>
  </body>
</html>
