<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/11chemlinks.css" />

    <title>11chem.html</title>
  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="100" height="87" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/courses" style="border-bottom: 6px solid red">Courses</a>
        <!-- <a href="/about">About</a> -->
        <a href="/contact">Contact</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <!-- Links Section  -->
    <!-- WEBLINKS  -->
  <div class="main">
    <h1>11th CHEMISTRY</h1>
    <section class="links">
      <section class="weblinks">
        <h1>WEBLINKS</h1>
        <details>
          <summary>Basic concepts of chemistry</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/basic-concepts-chemistry-cbse-notes-class-11-chemistry/"
                  >Notes</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-1/"
                  >MCQ-1</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Structure of an atom</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/structure-atom-cbse-notes-class-11-chemistry/"
                  >Notes</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-2/"
                  >MCQs chapter-2</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>
            Classification of Elements & Periodicity in Properties
          </summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/cbse-notes-class-11-chemistry/"
                  >Notes-3</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-3/"
                  >MCQs-3</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Chemical Bonding and Molecular Structure</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/chemical-bonding-molecular-structure-cbse-notes-class-11-chemistry/"
                >
                  Notes-4</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-4/"
                  >MCQs-4</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>States of Matter: Gases and Liquids</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/states-matter-cbse-notes-class-11-chemistry/"
                  >Notes-5</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-5/"
                  >MCQs-5</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Thermodynamics</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/thermodynamics-cbse-notes-class-11-chemistry/"
                  >Notes-6</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-6/"
                  >MCQs-6</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Equilibrium</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/equilibrium-cbse-notes-class-11-chemistry/"
                  >Notes-7</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-7/"
                  >MCQs-7</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Redox reactions</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/redox-reactions-cbse-notes-class-11-chemistry/"
                  >notes-8</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-8/"
                  >MCQs-8</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Hydrogen</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/hydrogen-cbse-notes-class-11-chemistry/"
                  >Notes-9</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-9/"
                  >MCQs-9</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>S-block elements</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/s-block-elements-cbse-notes-class-11-chemistry/"
                  >Notes-10</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-10/"
                  >MCQs-10</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>P-block elements</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/p-block-elements-cbse-notes-class-11-chemistry/"
                  >Notes-11</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-11/"
                  >MCQs-11</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Organic chemistry</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/ncert-solutions-for-class-11th-maths-chapter-12-introduction-to-three-dimensional-geometry/"
                  >Notes-12</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-12/"
                  >MCQs-12</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Hydrocarbons</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/hydrocarbons-cbse-notes-class-11-chemistry/"
                  >Notes-13</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-13/"
                  >MCQs-13</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Enviromnmental chemistry</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/environmental-chemistry-cbse-notes-class-11-chemistry/"
                  >Notes-14</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-chemistry-chapter-14/"
                  >MCQs-14</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>

      <!-- YOUTUBELINKS -->
      <section class="youtubelinks">
        <h1>YOUTUBE LINKS</h1>
        <details>
          <summary>Basic concepts of chemistry</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=0mmxbFf05mI"
                  >Full Chapter Explanation</a
                >
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=IaqS9Tww9Ko">
                  full chapter by vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Structure of an atom</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=Q7SzCTsyHTM"
                  >full chapter</a
                >
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=Pu5QqeRvNwg"
                  >Vedantu explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>
            Classification of Elements & Periodicity in Properties
          </summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=ny3u_-Tiggo"
                  >Full Chapter Explanation
                </a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Chemical Bonding and Molecular Structure</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=-jCWL5v-rHs"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>States of Matter: Gases and Liquids</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=QWduKfQjZYE"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Thermodynamics</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=aL2geklWQdU"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Equilibrium</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=h3JFGwWHdFA"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Redox Reactions</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=6qBHmxW4Xpc"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Hydrogen</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=HIm0hOF2HSQ"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>s-Block Elements</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=1uJk4K_irP8"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>P-block elements</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=M3nlpPQQELU"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>organic chemistry</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=L88uuqmAioU"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Hydrocarbons</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=KSb97N-OIAg"
                  >Full Chapter Explanation part1</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Enviromnmental chemistry</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=fWjWMjZCPVw"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>
    </section>
  </div>
  </body>
</html>
