<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/11mathslinks.css" />

    <title>11maths.html</title>
  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="70" height="60" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/courses" >Courses</a>
        <!-- <a href="/about">About</a> -->
        <a href="/contact">Contact</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <!-- Links Section  -->
    <!-- WEBLINKS  -->
    <section class="links">
    <h1>11th MATHEMATICS</h1>
      <section class="weblinks">
        <h1>WEBLINKS</h1>
        <details>
          <summary>Sets</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/sets-class-11-notes/"
                  >Notes</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-1/"
                  >MCQ-1</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Relations and Functions</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/relations-and-functions-class-11-notes/"
                  >Notes</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-2/"
                  >MCQs chapter-2</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Trignometric Functions</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/trigonometric-functions-class-11-notes/"
                  >Notes-3</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-3/"
                  >MCQs-3</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Principle of Mathematic Induction</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/principle-of-mathematical-induction-class-11-notes/"
                >
                  Notes-4</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-4/"
                  >MCQs-4</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Complex Numbers</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/complex-numbers-and-quadratic-equations-class-11-notes/"
                  >Notes-5</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-5/"
                  >MCQs-5</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Linear Inequalities</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/linear-inequalities-class-11-notes/"
                  >Notes-6</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-6/"
                  >MCQs-6</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Permutation and combination</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/permutations-and-combinations-class-11-notes/"
                  >Notes-7</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-7/"
                  >MCQs-7</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Binomial Theorem</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/ncert-solutions-for-class-11th-maths-chapter-8-binomial-theorem/"
                  >notes-8</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-8/"
                  >MCQs-8</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Sequence And Series</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/sequences-and-series-class-11-notes/"
                  >Notes-9</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-9/"
                  >MCQs-9</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Straight Lines</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/straight-lines-class-11-notes/"
                  >Notes-10</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-10/"
                  >MCQs-10</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Conic Section</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/ncert-solutions-for-class-11th-maths-chapter-11-conic-sections/"
                  >Notes-11</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-11/"
                  >MCQs-11</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Introduction to three-dimensional geometry</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/ncert-solutions-for-class-11th-maths-chapter-12-introduction-to-three-dimensional-geometry/"
                  >Notes-12</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-12/"
                  >MCQs-12</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Limits and Derivatives</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/limits-and-derivatives-class-11-notes/"
                  >Notes-13</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-13/"
                  >MCQs-13</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Statistics</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/statistics-class-11-notes/"
                  >Notes-14</a
                >
              </li>

              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-15/"
                  >MCQs-14</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Probability</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/ncert-solutions-for-class-11th-maths-chapter-16-probability/"
                  >Notes-15</a
                >
              </li>
              <li>
                <a
                  href="https://www.learninsta.com/mcq-questions-for-class-11-maths-chapter-16/"
                  >MCQs-15</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>

      <!-- YOUTUBELINKS -->
      <section class="youtubelinks">
        <h1>YOUTUBE LINKS</h1>
        <details>
          <summary>Sets</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=enHai1y5Knc"
                  >Full Chapter Explanation</a
                >
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=JK1d6ndaffo&t=5s">
                  full chapter by vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Relations and Functions</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=QPAbml1pQ0Q"></a>
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=zrbcp_4iOjQ"
                  >Vedantu explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Trignometric functions</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=FS3L1k6lHXQ"
                  >Full Chapter Explanation
                </a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Principle of mathematical induction</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=XHDI47WFqe0"
                  >Full Chapter Explanation</a
                >
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=Yk6-ZBb9vh4"
                  >vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Complex numbers</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=QYDf_NQEGUQ"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Linear Inequalities</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=1r6yLUKc8yc"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Permutations and combinations</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=Tr-TVt5JAWY"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Binomial theory</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=j9GohkxkjGk"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Sequence And Series</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=CCWhTwyx-rc"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Straight lines</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=O2LKzAdbgeA"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Conic section</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=kS2ydDhLaVw"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Introduction to three-dimensional geometry</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=bnah8aIb7CU"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Limits and Derivatives</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=rXRN_8Wz5kk"
                  >Full Chapter Explanation part1</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Statistics</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=_dn3yUfNZKU"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Probability</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=qYqS5Ib7TxA"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>
    </section>
  </body>
</html>
