<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/11physicslinks.css" />

    
    <title>11physics.html</title>
  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="70" height="60" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/courses" >Courses</a>
        <!-- <a href="aboutus.html">About</a> -->
        <a href="/contact">Contact</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <!-- Links Section  -->
    <!-- WEBLINKS  -->
    <div class="main">
    <h1>11th PHYSICS</h1>
    <section class="links">
      <section class="weblinks">
        <h1>WEBLINKS</h1>
        <details>
          <summary>Physics World</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/physical-world-cbse-notes-for-class-11-physics/"
                  >Notes</a
                >
              </li>
              <li>
                  <a 
                   href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-1-physical-world"
                  >Notes by vedantu</a>
              </li>
              <li>
                  <a 
                   href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-1/"
                  >MCQs</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Units And Measurements</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/units-measurements-cbse-notes-class-11-physics/"
                  >Notes</a
                >
              </li>
              <li>
                  <a
                   href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-2-units-and-measurement"
                  >
              </li>
              <li>
                  <a
                   href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-2/"
                  >MCQs chapter-2</a>
              </li>        
            </ul>
          </div>
        </details>

        <details>
          <summary>Motion in Straight Line</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/motion-straight-line-cbse-notes-class-11-physics/"
                  >Notes-3</a
                >
              </li>
              <li>
                  <a 
                   href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-3-motion-in-a-straight-line" 
                  > Notes-3 By vedantu</a>
                </li>
                <li>
                    <a
                     href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-3/"
                    >MCQs-3</a>
                </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Motion in Plain</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/motion-plane-cbse-notes-class-11-physics/"> Notes-4</a>
              </li>
              <li>
                <a
                href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-4-motion-in-a-plane"
                >Notes-4 vedantu</a>
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-4/"
                >MCQs-4</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Laws of Motion</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/ncert-class-11-solutions-physics-5-laws-motion/"
                  >Notes-5</a
                >
              </li>
              <li>
                <a href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-5-law-of-motion"
                  >Notes-5 vedantu</a
                >
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-5/"
                >MCQs-5</a>
              </li>>
            </ul>
          </div>
        </details>

        <details>
          <summary>Work,Eneryand Power</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/ncert-solutions-class-11-physics-chapter-6-work-energy-power/"
                  >Notes-6</a
                >
              </li>
              <li>
                <a
                href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-6-work-energy-and-power"
                >Notes-6 vedantu</a>
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-6/"
                >MCQs-6</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>System of particles and Rotational motion</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/ncert-solutions-class-11-physics-chapter-7-system-particles-rotational-motion/"
                  >Notes-7</a
                >
              </li>
              <li>
                <a
                href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-7-systems-of-particles-and-rotational-motion"
                >Notes-7 vedantu</a>
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-7/"
                >MCQs-7</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Gravitation</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/ncert-class-11-solutions-physics-chapter-8-gravitation/"
                  >notes-8</a
                >
              </li>
              <li>
                <a
                href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-8-gravitation"
                >Notes-8 vedantu</a>
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-8/"
                >MCQs-8</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Mechanical Propertise of Solids</summary>
          <div class="1">
            <ul>
              <li>
                <a
                href="https://www.learncbse.in/cbse-class-11-physics-ncert-solutions-chapter-9-mechanical-properties-solids/"
                >Notes-9</a>
              </li>
              <li>
                <a href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-9-mechanical-properties-of-solids"
                  >Notes-9 vedantu
                </a>
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-9/"
                >MCQs-9</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Mechanical propertise of Fluids</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/ncert-solutions-class-11-physics-chapter-10-mechanical-properties-fluids/"
                  >Notes-10</a
                >
              </li>
              <li>
                <a
                href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-10-mechanical-properties-of-fluids"
                >Notes-10 vedantu</a>
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-10/"
                >MCQs-10</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Thermal propertise of Matter</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/ncert-solutions-class-11-physics-chapter-11-thermal-properties-matter/"
                  >Notes-11</a
                >
              </li>
              <li>
                <a
                href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-11-thermal-properties-of-matter"
                >Notes-11 vedantu</a>
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-11/"
                >MCQs-11</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Thermodynamics</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/ncert-solutions-class-11-physics-chapter-12-thermodynamics/"
                  >Notes-12</a
                >
              </li>
              <li>
                <a
                href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-12-thermodynamics"
                >Notes-12 vedantu</a>
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-12/"
                >MCQs-12</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Kinetic theory</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.learncbse.in/ncert-solutions-class-11-physics-chapter-13-kinetic-theory/"
                  >Notes-13</a
                >
              </li>
              <li>
                <a
                href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-13-kinetic-theory"
                >Notes-13 vedantu</a>
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-13/"
                >MCQs-13</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Oscillations</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/ncert-solutions-class-11-physics-chapter-14-oscillations/"
                  >Notes-14</a
                >
              </li>
              <li>
                <a
                href="https://www.vedantu.com/revision-notes/cbse-class-11-physics-notes-chapter-14-oscillations"
                >Notes-14 vedantu</a>
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-14/"
                >MCQs-14</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Waves</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/ncert-solutions-class-11-physics-chapter-15-waves/"
                  >Notes-15</a
                >
              </li>
              <li>
                <a
                href="https://www.learninsta.com/mcq-questions-for-class-11-physics-chapter-15/"
                >MCQs-15</a>
              </li>
            </ul>
          </div>
        </details>
      </section>

      <!-- YOUTUBELINKS -->
      <section class="youtubelinks">
        <h1>YOUTUBE LINKS</h1>
        <details>
          <summary>Physics World</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=sk5j7dTqipk"
                  >Full Chapter by Vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Units and Measurements</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=sgCtgo4L0vM"
                  >Full Chapter by Vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Motion in a Straight line</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=guqO7kTtYj4"
                  >Full Chapter Explanation By Vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Motion in a Plane</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=Oi5n3h7Psjs"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Laws of Motion</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=Hg1LMMzEwkQ"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Work energy And Power</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=qBtNdn7j5pg"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>System of particles and Rotational motion</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=KprHesMeeqg"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Gravitation</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=b9Gf0zPrAdo"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Mechanical propertise of Solids</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=vsozTe2eu6Y"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Mechanical propertise of Fluids</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=EWrS-MKEN3k"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Thermal Propertise of Matter</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=4PiN_ChKWbI"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Thermodynamics</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=69ev9V6cJNU"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Kinetic theory</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=Mz4U6fh0vzg"
                  >Full Chapter Explanation part1</a
                >
              </li>
              <li>
                <a
                href="https://www.youtube.com/watch?v=d4p2Tc5Owyw"
                >part-2</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Oscillations</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=fB1MES-cBtI"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Waves</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=Eo86sI33vwY"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>
    </section>
  </div>
  </body>
</html>

