<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/12biolinks.css" />

    <title>12 Bio links</title>
  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="70" height="60" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/courses" >Courses</a>
        <!-- <a href="/about">About</a> -->
        <a href="/contact">Contact</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <!-- Links Section  -->
    <!-- WEBLINKS  -->
    <section class="links">
    <h1>12th BIOLOGY</h1>
    <hr>
      <section class="weblinks">
        <h1>WEBLINKS</h1>
        <details>
          <summary>Reproduction</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://byjus.com/biology/important-questions-class-12-biology-chapter-1-reproduction-organism/"
                  >Important Questions by Byjus</a
                >
              </li>

              <li>
                <a
                  href="https://byjus.com/ncert-solutions-class-12-biology/chapter-1-reproduction-in-organisms/"
                  >Notes from NCERT</a
                >
              </li>
              <li>
                <a
                  href="https://www.khanacademy.org/science/in-in-class-12-biology-india/xc09ed98f7a9e671b:in-in-reproduction"
                  >Practise Sessions (Khan Academy)</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Genetics and Evolution</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://byjus.com/biology/genetics-and-evolution-notes/"
                  >Notes (Byjus)</a
                >
              </li>

              <li>
                <a href="https://www.vedantu.com/biology/genetics-and-evolution"
                  >Notes (Vedantu)</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Biology and Human Welfare</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://ncert.nic.in/ncerts/l/lebo110.pdf"
                  >Microbes in Human Welfare</a
                >
              </li>
              <li>
                <a
                  href="https://byjus.com/biology/important-questions-class-12-biology-chapter-10-microbes-human-welfare/"
                  >Important Questions</a
                >
              </li>
              <li>
                <a
                  href="https://www.learncbse.in/microbes-human-welfare-cbse-notes-class-12-biology/"
                  >Microbes in Human Welfare(Notes)</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Biotechnology and its Applications</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://byjus.com/cbse-notes/cbse-class-12-biology-notes-chapter-12-biotechnology-and-its-applications/"
                  >Notes1</a
                >
              </li>
              <li>
                <a href="https://ncert.nic.in/ncerts/l/lebo112.pdf"
                  >Notes2(pdf)</a
                >
              </li>
              <li>
                <a
                  href="https://www.learncbse.in/biotechnology-applications-cbse-notes-class-12-biology/"
                  >Notes3(Vedantu)</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Ecology and Environment</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://byjus.com/neet/ecology-and-environment/"
                  >Notes1 (Byjus)</a
                >
              </li>
              <li>
                <a
                  href="https://learn.careers360.com/biology/ecology-and-environment-chapter/"
                  >Imp_Notes2 (careers360)</a
                >
              </li>
              <li>
                <a
                  href="https://www.takshilalearning.com/what-is-a-habitat-and-niche-biology-notes-class-12/"
                  >Notes (habitat and niche)</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>

      <!-- YOUTUBELINKS -->
      <section class="youtubelinks">
        <h1>YOUTUBE LINKS</h1>
        <details>
          <summary>Reproduction</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=PdyJDJFpXSs"
                  >chapter-1-reproduction-in-organisms</a
                >
              </li>

              <li>
                <a href="https://www.youtube.com/watch?v=OKf_q1oIxrY"
                  >chapter-1-reproduction-in-organisms (Unacademy)</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Genetics and Evolution</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=tpVA8Gj5WV0"
                  >Explanation by Vedantu</a
                >
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=A0mFCUE9en4"
                  >Mendelian genetics by Unacademy</a
                >
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=2_9EfY7Nbvo"
                  >Principles of Inheritance and variations</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Biology and Human Welfare</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=yxi-r19TPoA"
                  >Full Chapter Revision</a
                >
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=B9Z7MbcebrM"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Biotechnology and its Applications</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=xF7F3kAJmuQ"
                  >Full Chapter</a
                >
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=j9hut7yF8nw"
                  >Full Chapter Revision(Vedantu)</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Ecology and Environment</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=TfxVaYCuC78"
                  >Ecology Explanation</a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/playlist?list=PLsgHooHkqhhPfx7UGCLb45pOEyqXuqs-Y"
                  >Full Chapter</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>
    </section>
  </body>
</html>
