<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/12chemlinks.css" />

    <title>12chemlinks.html</title>
  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="70" height="60" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/courses">Courses</a>
        <!-- <a href="/about">About</a> -->
        <a href="/contact">Contact</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <!-- Links Section  -->
    <!-- WEBLINKS  -->
    <section class="links">
    <h1>12th CHEMISTRY</h1>
    <hr>
      <section class="weblinks">
        <h1>WEBLINKS</h1>
        <details>
          <summary>The Solid State</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://byjus.com/cbse-notes/cbse-class-12-chemistry-notes-chapter-1-the-solid-state/"
                  >Notes By Byjus</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Solutions</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.vedantu.com/revision-notes/cbse-class-12-chemistry-notes-chapter-2-solutions"
                  >Notes & PDF</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Electrochemistry</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://ncert.nic.in/ncerts/l/lech103.pdf"
                  >NCERT bok</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Chemical Kinetics</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://schools.aglasem.com/54941">Important Notes</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Surface Chemistry</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://ncert.nic.in/ncerts/l/lech105.pdf"
                  >Imp_Notes NCERT book</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>
            General Principles and Processes of Isolation of Elements
          </summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://ncert.nic.in/ncerts/l/lech106.pdf"
                  >Imp_Notes NCERT book</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>The p-block Elements</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://ncert.nic.in/ncerts/l/lech107.pdf"
                  >NCERT book</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>The d&f-block Elements</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://ncert.nic.in/ncerts/l/lech108.pdf"
                  >Imp_Notes NCERT</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Coordination Compounds</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://schools.aglasem.com/55188"
                  >Imp_Notes(aglasem)
                </a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Haloalkenes & Haloarenes</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://www.examfear.com/notes/Class-12/Chemistry/Haloalkanes-and-Haloarenes/1525/Introduction.htm"
                  >Imp_Notes</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Alchohols, Phenols & Ethers</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://byjus.com/ncert-solutions-class-12-chemistry/chapter-11-alcohols-phenols-and-ethers/"
                  >Imp_Notes (Byjus)</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Aldehydes, Ketones & Carboxylic Acids</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://byjus.com/ncert-solutions-class-12-chemistry/chapter-12-aldehydes-ketones-and-carboxylic-acids/"
                  >Imp_Notes (Byjus)</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Amines</summary>
          <div class="1">
            <ul>
              <li>
                <a
                  href="https://byjus.com/ncert-solutions-class-12-chemistry/chapter-13-organic-compounds-containing-nitrogen/"
                  >Imp_Notes (Byjus)</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Biomolecules</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://ncert.nic.in/textbook/pdf/lech205.pdf"
                  >Imp_Notes NCERT</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Polymers</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://ncert.nic.in/ncerts/l/lech206.pdf"
                  >Imp_Notes NCERT</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>

      <!-- YOUTUBELINKS -->
      <section class="youtubelinks">
        <h1>YOUTUBE LINKS</h1>
        <details>
          <summary>The Solid State</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=J3Pf1JftHFU"
                  >Full Chapter by Vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Solutions</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=Dza81cr_-Ko"
                  >Full Chapter by Vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Electrochemistry</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=OjwJvNxD2dI"
                  >Full Chapter Explanation By Vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Chemical Kinetics</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=cuTMcMX6nXw"
                  >Full Chapter Explanation By Vedantu</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Surface Chemistry</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=D9WQLBYgtz4"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>
            General Principles and Processes of Isolation of Elements
          </summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=QalAQq_-Z14"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>The p-block Elements</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=QcPXo2j0GAw"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>The d&f-block Elements</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=nvAapFc_WgE"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Coordination Compounds</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=3adbohxmz_s"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Haloalkenes & Haloarenes</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=LUlEtldMMRg"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Alchohols, Phenols & Ethers</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=CWhpgmXyXOQ"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Aldehydes, Ketones & Carboxylic Acids</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=wPge4_qY7n0"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Amines</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=ZgHvQJw_Bdc"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Biomolecules</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=gAkQVYDQjkA"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Polymers</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=iYF2XYXOneQ"
                  >Full Chapter Explanation</a
                >
              </li>
            </ul>
          </div>
        </details>
      </section>
    </section>
  </body>
</html>
<footer>
  <p>This is footer</p>
</footer>
