<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/12mathslinks.css" />

    <title>12mathslinks.html</title>
  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="70" height="60" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/courses">Courses</a>
        <!-- <a href="/about">About</a> -->
        <a href="/contact">Contact</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <!-- Links Section  -->
    <!-- WEBLINKS  -->
    <section class="links">
    <h1>12th MATHS</h1>
    <hr>
      <section class="weblinks">
        <h1>WEBLINKS</h1>
        <details>
          <summary>Relations and functions</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://byjus.com/maths/relations-and-functions-for-class-12/#:~:text=A%20function%20is%20a%20relationship,to%20only%20one%20y%2Dvalue.">Notes By Byjus</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Inverse Trigonometry Functions</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.vedantu.com/revision-notes/cbse-class-12-maths-notes-chapter-2-inverse-trigonometric-functions">Revision notes by vedantu</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Matrics</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://schools.aglasem.com/cbse/cbse-notes-class-12-maths-matrices/">Aglasem</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Determinants</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/determinants-class-12-notes/#:~:text=Determinant%3A%20Determinant%20is%20the%20numerical,det%20A%20or%20%7CA%7C.">Important Notes</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Continuity and differentiability</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://byjus.com/maths/continuity-and-differentiability-for-class-12/">Imp_Notes by Byjus</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Application of derivatives</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.vedantu.com/revision-notes/cbse-class-12-maths-notes-chapter-6-application-of-derivatives">Revision Notes by Vedantu</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Integrals</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.vedantu.com/revision-notes/cbse-class-12-maths-notes-chapter-7-integrals">Revision Notes by Vedantu</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Application of Integrals</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://byjus.com/ncert-solutions-class-12-maths/chapter-8-application-of-integrals/">Imp_Notes by BYjus</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Differential equations</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://byjus.com/maths/differential-equations-for-class-12/#:~:text=Differential%20equations%20class%2012%20helps,y%3D%20f(x).">Imp_Notes Byjus </a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Vector Algebra</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://byjus.com/maths/vector-algebra-for-class-12/#:~:text=Vector%20Algebra%20for%20class%2012%20is%20all,study%20of%20vectors%20and%20scalars.&text=If%20the%20quantity%20that%20has,%2C%20momentum%2C%20electric%20intensity%20etc.">by Byjus</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>3D Geometry</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://byjus.com/maths/three-dimensional-geometry-for-class-12/">Imp_Notes (Byjus)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Linear Programming</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://byjus.com/maths/linear-programming-for-class-12/">Imp_Notes (Byjus)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Probability</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/probability-class-12-notes/">Imp_Notes (By learncbse)</a>
              </li>
            </ul>
          </div>
        </details>
      </section>

      <!-- YOUTUBELINKS -->
      <section class="youtubelinks">
        <h1>YOUTUBE LINKS</h1>
         <details>
          <summary>Relations and functions</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/en64IqhvJCA">Full Chapter explanation (Apni Kaksha)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Inverse Trigonometry Functions</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/DJ_bhwlwA1A">Full Chapter explanation (Apni Kaksha)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Matrics</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/KI_RMKMhV2Q">Full Chapter explanation (Vedantu)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Determinants</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/q8pIHt2r6DY">Full Chapter explanation (Vedantu)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Continuity and differentiability</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/Lzbd8j7q-Yk">Full Chapter explanation (By Dinesh Sir Live)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Application of derivatives</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/JozbmecYvoU">Full Chapter explanation</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Integrals</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/oJEqncEnIb8">Full Chapter explanation (By Anurag Chauhan Maths)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Application of Integrals</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/S2NoVn3l3bM">Full Chapter explanation (By Anurag Chauhan Maths)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Differential equations</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/pxULdMIHUZA">Full Chapter explanation (By Anurag Chauhan Maths)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Vector Algebra</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/7CPaRW_wvNs">Full Chapter explanation (By Dinesh Sir Live)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>3D Geometry</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/2ZU0zrew-sE">Full Chapter explanation (By Anurag Chauhan Maths)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Linear Programming</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/3v7he4aULmc">Full Chapter explanation (By Etoos Education)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Probability</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://youtu.be/66NRp_80yeU">Full Chapter explanation (By Dinesh Sir Live)</a>
              </li>
            </ul>
          </div>
        </details>
      </section>
      </section>
    </section>
  </body>
</html>

