<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/12physicslinks.css" />

    <title>12physicslinks.html</title>
  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="70" height="60" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/courses" >Courses</a>
        <!-- <a href="/about">About</a> -->
        <a href="/contact">Contact</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <!-- Links Section  -->
    <!-- WEBLINKS  -->
    <section class="links">
    <h1>12th PHYSICS</h1>
    <hr>
      <section class="weblinks">
        <h1>WEBLINKS</h1>
        <details>
          <summary>Electrostatics</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://schools.aglasem.com/cbse/cbse-notes-class-12-physics-electrostatics/">(Aglasem)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Current Electricity</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://schools.aglasem.com/cbse/cbse-notes-class-12-physics-electronics/">(Aglasem)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Magnetic Effects of Current and Magnetism</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://byjus.com/physics/magnetic-effect-of-electric-current-direct-current-dc/">(Byjus)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Electromagnetic Induction and Alternating Currents</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.topperlearning.com/neet/physics/electromagnetic-induction-and-alternating-currents">Important Notes (topperlearning)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Electromagnetic Waves</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://schools.aglasem.com/cbse/cbse-notes-class-12-physics-electromagnetic-waves-and-communication/">Imp_Notes by (Aglasem)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Dual Nature of Radiation and Matter</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/dual-nature-radiation-matter-cbse-notes-class-12-physics/">Revision Notes by (learncbse)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Atoms and Nuclei</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.jagranjosh.com/articles/cbse-class-12th-physics-notes-nuclei-part-i-1485759761-1">Revision Notes by (jagran josh)</a>
              </li>
            </ul>
          </div>
        </details>


        <details>
          <summary>Electronic Devices</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.learncbse.in/semiconductor-electronics-materials-devices-simple-circuits-cbse-notes-class-12-physics/">Imp_Notes(Learncbse) </a>
              </li>
            </ul>
          </div>
        </details>
      </section>

      <!-- YOUTUBELINKS -->
      <section class="youtubelinks">
        <h1>YOUTUBE LINKS</h1>
         <details>
          <summary>Electrostatics</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=Rlu9WhadUFI">Full Chapter Explanation (Vedantu)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Current Electricity</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=v2ChrWwC2LA">Full Chapter Explanation (Vedantu)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Magnetic Effects of Current and Magnetism</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=o40h9lvOczw">Full Chapter Explanation (Unacademy)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Electromagnetic Induction and Alternating Currents</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=FX7tvdCnJGc">Full Chapter Explanation (vedantu)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Electromagnetic Waves</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=m5-GVhnH8OY">Full Chapter Explanation (Vedantu)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Dual Nature of Radiation and Matter</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=A1kG4q8d97w">Full Chapter Explanation (LearnoHub)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Atoms and Nuclei</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=VkRIwwikEb0">Full Chapter Explanation (Vedantu)</a>
              </li>
            </ul>
          </div>
        </details>

        <details>
          <summary>Electronic Devices</summary>
          <div class="1">
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=imq0-I3db3k">Full Chapter Explanation (LearnoHub) </a>
              </li>
            </ul>
          </div>
        </details>
      </section>
      </section>
    </section>
  </body>
</html>

