<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>course12th</title>
    <link rel="stylesheet" href="../static/css/12tcourse.css">
    
  </head>
  <body>
   <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="60" height="60" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/courses" >Courses</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align:center">Class 12 Links</h1>
	<hr>
  <section class="container">
      <div class="physics">
        <h2>PHYSICS</h2>
       <a href="/12ph">Click here for links</a>
      </div>

    <div class="mathematics">
      <h2>MATHEMATICS</h2>
      <a href="/12ma">Click here for links</a>
    </div>

    <div class="chemistry">
      <h2>CHEMISTRY</h2>
      <a href="/12che">Click here for links</a>
      </div>
    <div class="biology">
      <h2>BIOLOGY</h2>
      <a href="/12bio">Click here for links</a>
    </div>

  </section>
     
   
  </div>
  </body>
  </html>
	
	
	</body>

</html>