<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AboutUs</title>
    <link rel="stylesheet" href="../static/css/aboutus.css" />

  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="70" height="60" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/about" >About</a>
        <a href="/contact">Contact</a>
        <a href="/courses">Courses</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <div class="about-section">
      <h1>About Us</h1>
      <p>
        We are students of D.Y Patil Institute of technology. Currently pursuing
        B.E in Information Technology 2019-23.
      </p>
      <p>
        Our team is group of highly enthusiastic students who're willing to 
        find the best possible solution for the students
        in rural areas who are eager to study but due to pandemic and family background limits 
        couldn't find the right ways to study by on their own.
      </p>
    </div>

    <h2 style="text-align: center">Our Team</h2>
    <hr>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Durgesh Bramhankar</h2>
            <p class="title">Role: Web Developer(Frontend/Backend)</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Vaishnavi Wayal</h2>
            <p class="title">Role: Web Developer(Frontend/Backend)</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Anuja Dhotre</h2>
            <p class="title">Role: Web Developer(Frontend)</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Madhura Shende</h2>
            <p class="title">Role: Web Developer(Frontend)</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Vaishnavi Manal</h2>
            <p class="title">Role: Documentation,Web Developer(Frontend)</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
