<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactus</title>
    <link rel="stylesheet" href="../static/css/contact.css" />

  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="70" height="60" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/courses">Courses</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <section class="container">
      <h1>Contact Us on following mail:</h1>
      <h2>Referencepoint@gmail.com</h2>
    </section>
  </body>
</html>
