<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/courses.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap"
      rel="stylesheet"
    />
    <title>Courses</title>
  </head>
  <body>
    <!-- The navigation menu -->
    <div class="navbar">
      <div class="ima">
        <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="60" height="50" />
      </div>
      <div class="margin">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/feedback">Feedback</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <h1>COURSES</h1>
    <div style="padding: 1px;
    font-size:20px
    align-items: center;
    justify-content: center;">
      <p style="text-align: center; text-transform: capitalize; font-size: medium;">
        Welcome <span>{{name}}</span>
      </p>
    </div>
    <section class="container">
      <div class="eleven">
        <h3>Class 11</h3>
        <a href="/11">Click here for class 11 links</a>
      </div>

      <div class="twelve">
        <h3>Class 12</h3>
        <a href="/12">Click here for class 12 links</a>
      </div>

      <div class="exam_info">
        <h3>Entrace Exams</h3>
        <a href="/exam">Click here for Entrance Exam links</a>
      </div>
    </section>
  </body>
  <footer>This is footer</footer>
</html>
