<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exams</title>
    <link rel="stylesheet" href="../static/css/exam.css" />

    
  </head>
  <body>
      <!-- The navigation menu -->
      <div class="navbar">
        <div class="ima">
          <img src="../static/Images/loo2.jpeg" alt="HTML5 Icon" width="70" height="60" />
        </div>
        <div class="margin">
          <a href="/">Home</a>
          <a href="/courses" >Courses</a>
          <a href="/about">About</a>
          <!-- <a href="../templates/Contact.html">Contact</a> -->
          <a href="/feedback">Feedback</a>
          <a href="/logout">LogOut</a>
        </div>
      </div>

    <br>
    <br>
    <!--TiTTle-->
    <div class="main">
    <h1 id="heading">Enginnering Entrance Exams</h1>
    <hr>
    <!--Section for contents-->
    <section class="container">
      <div class="JEEMains">
      <h2>1. JEE Mains</h2>

      <img src="../static/Images/jee-main-logo.jpg" alt="jee Mains Logo" id="main" />
      <p>
        JEE Main is a national level entrance exam conducted by the NTA to offer
        admission to
        <strong style="background-color: white"
          >BE/BTech, BPlan and BArch</strong
        >
        courses at the
        <mark style="background-color: yellow"
          >IIITs (Indian Institute of Information Technology), NITs (National
          Institute of Technology) and other Centrally Funded Technical
          Institutions (CFTIs)</mark
        >
        across the country.
      </p>
      <p>
        exam also acts as a gateway for JEE advanced. Only the top 2.5 lakh
        score holders in JEE Mains will be eligible to apply for JEE Advanced
        for admission to various undergraduate engineering programmes offered by
        IITs in India.
      </p>
      <p>
        The counselling cum seat allotment for all the IITs, NITs, IIITs and
        CFTIs will be organised and managed by the Joint Seat Allocation
        Authority (JoSAA). Last year, 107 institutes participated in JoSAA
        Counselling.
      </p>
      <ul>
        <li>No of attempts = 4</li>
        <li>Mode of examination = online</li>
        <li>No of questions 90 Total score=300 Time = 3hrs</li>
        <li>subjects = Maths,Physics,Chemistry</li>
        <li>Negative marking system</li>
      </ul>
      <p>
        For details visit:<a href="https://jeemain.nta.nic.in " target="_blank"
          >JEE-MAINS</a
        >
      </p>
    </div>

    <div class="JEEAdvance">
      <h2>2. JEE Advance</h2>
      <img src="../static/Images/jee-adv-logo.png" alt="Jee advance Logo" id="adv" />
      <p>
        Joint Entrance Examination – Advanced (JEE-Advanced), formerly the
        Indian Institutes of Technology-Joint Entrance Examination (IIT-JEE), is
        an academic examination held annually in India. It is conducted by one
        of the seven zonal IITs (IIT Roorkee, IIT Kharagpur, IIT Delhi, IIT
        Kanpur, IIT Bombay, IIT Madras, and IIT Guwahati) under the guidance of
        the Joint Admission Board (JAB). It is the sole prerequisite for
        <mark style="background-color: yellow"
          >admission to the Indian Institutes of Technology. Other
          universities—such as the Indian Institute of Petroleum and
          Energy(IIPE), the Rajiv Gandhi Institute of Petroleum Technology, the
          IndianInstitute of Science Education and Research (IISERs), and the
          Indian Institute of Science</mark
        >
        —use the score obtained on the JEE-Advanced exam as the basis for
        admission. The JEE score is also used as a possible basis for admission
        by Indian applicants to non-Indian universities such as the University
        of Cambridge and National University of Singapore.
      </p>

      <p>
        The examination is organised each year by one of the IITs, on a
        round-robin rotation pattern. It has a very low qualification rate
        (about 9,369 in 479,651 in 2012; ~1.95%) The qualification rate of the
        JEE-Advanced in 2017 was approximately 0.92% (about 11,000 out of
        1,200,000 who applied for JEE Main).
      </p>
      <p>
        Only those top 1,20,000 students are selected from jee main exam for
        Advance
      </p>
      <ul>
        <li>No of attempts = 2 in consecutive years</li>
        <li>Mode of examination = online</li>
        <li>
          No of questions 90 Total score=300 Time = 3hrs for each paper(Paper 1
          paper 2)
        </li>
        <li>subjects = Maths,Physics,Chemistry</li>
        <li>Negative marking system</li>
      </ul>
      <p>
        For details visit:<a href="http://jeeadv.ac.in" target="_blank"
          >JEE-Advance</a
        >
      </p>
    </div>

    <div class="CET">
      <h2>3. MHT-CET</h2>
      <img src="../static/Images/CET-logo.jpg" alt="mht-cet logo" id="cet" />
      <p>
        The MHT-CET or Common Entrance Test is an annual entrance exam conducted
        by the Government of Maharashtra.It is conducted by the Directorate of
        Technical Education. The degree courses of the following streams are
        mainly accounted for in this entrance exam:Engineering and Pharmacy
      </p>
      <p>
        Earlier the test scores were also used for admissions to Medical degree
        courses. After the Supreme Court of India insisted that only NEET can be
        used for undergraduate medicine admissions all over India, MHT-CET has
        been scrapped for medical colleges. The test is conducted in online mode
        for the first time in 2019. The State Common Entrance Test Cell,
        Maharashtra released the syllabus and marking scheme for the Computer
        Based Test (CBT).
      </p>
      <ul>
        <li>subjects = Maths,Physics,Chemistry</li>
        <li>Total marks=200</li>
        <li>Time = 180 mins</li>
        <li>No negative marking system</li>
        <li>Mode of examination = online</li>
      </ul>
      <p>
        For details visit:
        <a href="https://www.mahacet.org" target="_blank">MHT-CET</a>
      </p>
    </div> 

    	<div class="KVPY">
	  <h2>4. KVPY</h2>
	  <img src="/static/Images/KVPY logo.png" alt="kvpy logo" id="kvpy" />
	  <p>Kishore Vaigyanik Protsahan Yojana (English: Young Scientist Incentive Plan) (KVPY) is a 
	  scholarship programme funded by the Department of Science and 
	  Technology of the Government of India, aimed at 
	  encouraging students to take up research careers in the areas of basic sciences. 
	  It offers scholarships and contingency grants up to the pre-Ph.D. level to selected students.     
      </p>
      <p>KVPY is a national-level scholarship program for meritorious students to
	  pursue courses in basic sciences such as B.Sc., B. Stat, Integrated M.Sc., 
	  and M.S in either Mathematics, Chemistry, Physics, or Biology. Students are selected 
	  for the scholarship based on the KVPY exam.There are two categories based on academic year students are studying in SA and SB.
	  Following are the subjects for both categories:
	  </p>	  
	  <ul>
	      <li> Subjects: For SA:-Physics, Chemistry, Mathematics and Biology
		                 For SB/SX:- Physics, Chemistry, Mathematics, Biology (Optional in Maths and Biology)</li>
		  <li>Total Marks:- SA = 100
		                    SB/SX = 160
		  <li>Time = 180 mins</li>
		  <li>Mode of examination = online</li>
		  </ul>
	  <p>For details visit:
	     <a href="www.kvpy.iisc.ernet.in" target="_blank">KVPY</a>
	  </p> 
		  
    </div>
	<div class="NEET"> 
	   <h2>5. NEET</h2>
	   
	   <p>The National Eligibility cum Entrance Test (Undergraduate) or NEET (UG), formerly the All India Pre-Medical Test 
	   (AIPMT), is an all India pre-medical entrance
	   test for students who wish to pursue undergraduate medical (MBBS), dental (BDS) and AYUSH (BAMS, BUMS, BHMS, etc.) 
	   courses in government and private institutions in India and also, for those intending to pursue primary medical qualification abroad.The exam 
	   is conducted by National Testing Agency (NTA), which provides the results to the Directorate General of Health Services under Ministry of 
	   Health and Family Welfare and State Counselling Authorities for seat allocation.NEET-UG replaced the All India Pre Medical Test (AIPMT) and many 
	   other pre-medical exams conducted by states and various medical colleges. However, due to lawsuits being filed against the exam, it could not be held in 2014 and 2015.
        NEET-UG is a single entrance test for admissions to more than 66,000 MBBS and BDS seats across India.
       After the enactment of NMC Act 2019 in September 2019, NEET-UG became the sole entrance test for admissions to medical colleges 
	   in India including the All India Institutes of Medical Sciences (AIIMS) and Jawaharlal Institute of Postgraduate Medical Education & Research 
	   (JIPMER) which until then conducted separate exams.</p>
	   <ul>
	      <li>Subjects = Physics, Chemistry, Biology</li>
		  <li>Total Marks = 720</li>
		  <li> Time = 180 mins</li>
		  <li>Mode of examination = offline </li>
		  <li>Negative Marking System</li>
		  </ul>
		<p>For more details visit
		   <a href="www.ntaneet.nic.in" target=_blank>NEET</a>
		 </p>
	
	</div> 
    </section>
</div>
  </body>
  <footer>This is footer</footer>
</html>
